@import "../../styles/abstracts/placeholders";

.events {

}

.events__content {

}

.events__title {
  text-align: center;
}

.events__list {
  @extend %reset-list;
  display: grid;
  row-gap: 20px;
  justify-items: center;
}

.events__listItem {

}