$white: #fff;
$carnation: #f86363;
$crimson: #ef1717;
$cardinal: #c51a46;
$jazzberryJam: #A61448;
$blackRose: #68062d;

$mustard: #ffe05c;
$lightningYellow: #ffc11e;
$California: #fea305;
$flamenco: #FF7903;
$hotCinnamon: #dc6315;

$greenYellow: #c5f724;
$malachite: #2ddd1d;
$japaneseLaurel: #019701;
$mountainMeadow: #159f85;

$mariner: #2a59db;
$denim: #0e5fb0;
$biscay: #1a3866;
$blackPearl: #081933;


$black: #000;