@font-face {
  font-family: "Neris Black";
  font-style: normal;
  font-weight: 400;
  src: local("Neris black"),
  url("../assets/fonts/neris-black.woff2") format("woff2"),
  url("../assets/fonts/neris-black.woff") format("woff");
}

@font-face {
  font-family: "Nougat";
  font-style: normal;
  font-weight: 400;
  src: local("Nougat"),
  url("../assets/fonts/nougat.woff2") format("woff2"),
  url("../assets/fonts/nougat.woff") format("woff");
}

@font-face {
  font-family: "Lilita One";
  font-style: normal;
  font-weight: 400;
  src: local("Lilita One"),
  url("../assets/fonts/lilita_one.woff2") format("woff2"),
  url("../assets/fonts/lilita_one.woff") format("woff");
}