@import "../../styles/abstracts/colors";
@import "../../styles/abstracts/mixins";

.header {
  background-color: $denim;
}

.header__content {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.header__logoLink {
  display: inline-block;
  @include size(50px);
}