@import "../../styles/abstracts/colors";
@import "../../styles/abstracts/mixins";

.header {
  background-color: $denim;
  margin-bottom: 15px;
}

.header__content {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.header__logoLink {
  @include size(50px);
}

