@font-face {
  font-family: "Neris black";
  font-style: normal;
  font-weight: 400;
  src: local("Neris black"),
  url("../../assets/fonts/neris-black_allfont.ru-webfont.woff2") format("woff2"),
  url("../../assets/fonts/neris-black_allfont.ru-webfont.woff") format("woff");
}